$sectionHeight: 776px;
$sectionHeightLowScreen: 650px;
$darkblue: #7799bb;
$orange: #f26522;
$lowOpacityOrange: #eda786;
$lightOrange: #f5b490;
$navyblue: #779bc8;
$backgroundHome: #f8ba9e;
$grayColor: #eaf9ff;
$heavyGray: #aedbf0;
$footer: #6493bd;
$havygray: #acacac;
$textColor: #525f7f;
